# Lab TAT
* Null Hypothesis: There is no difference in the average Turn Around Time(TAT)
* Alternative Hypothesis: There is a difference in the average Turn Around Time(TAT)

In [1]:
import pandas as pd
import numpy as np
import scipy
from scipy import stats

In [2]:
data = pd.read_csv('C:/Users/Dell/Desktop/Assignments/Hypothesis Testing/LabTAT.csv')
data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [3]:
data.describe()

       Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
count    120.000000    120.000000    120.000000     120.00000
mean     178.361583    178.902917    199.913250     163.68275
std       13.173594     14.957114     16.539033      15.08508
min      138.300000    140.550000    159.690000     124.06000
25%      170.335000    168.025000    188.232500     154.05000
50%      178.530000    178.870000    199.805000     164.42500
75%      186.535000    189.112500    211.332500     172.88250
max      216.390000    217.860000    238.700000     205.18000

# Using ANOVA

In [4]:
import scipy.stats as stats
stats.f_oneway(data.iloc[:,0], data.iloc[:,1], data.iloc[:,2], data.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

# Since the p-value is less than (0.05), we can discard the Null Hypothesis and go forward with the Alternative Hypothesis