# Buyer Ratio
* Null Hypothesis: All proportions are equal
* Alternative Hypothesis: Not all proportions are equal

In [1]:
import pandas as pd
import numpy as np
import scipy
from scipy import stats

In [2]:
data = pd.read_csv('C:/Users/Dell/Desktop/Assignments/Hypothesis Testing/BuyerRatio.csv')
data.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [3]:
data.columns

Index(['Observed Values', 'East', 'West', 'North', 'South'], dtype='object')

In [4]:
data.rename(columns = {'Observed Values':'OV'}, inplace=True)

In [5]:
data.head()

        OV  East  West  North  South
0    Males    50   142    131     70
1  Females   435  1523   1356    750

In [6]:
data.drop('OV', axis=1, inplace=True)

In [7]:
data.head()

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

# Using Chi-square Method

In [8]:
result = scipy.stats.chi2_contingency(data)
result

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [11]:
result1 = [[' ', 'Test Statistic', 'P-value'], [' ', result[0], result[1]]]
result1

[[' ', 'Test Statistic', 'P-value'],
 [' ', 1.595945538661058, 0.6603094907091882]]

# As the p-value > 0.05, we accept the Null Hypothesis