# Cutlet 
* Null Hypothesis: No difference in the diameter of the cutlet between two units
* Alternative Hypothesis: There is a difference in the diameter of the cutlet between the two units

In [1]:
import pandas as pd
import scipy
import numpy as np
from scipy import stats

In [2]:
data = pd.read_csv('C:/Users/Dell/Desktop/Assignments/Hypothesis Testing/Cutlets.csv')
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [3]:
data.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [5]:
#Calculating the p value
p = scipy.stats.ttest_ind(data.iloc[:,0], data.iloc[:,1])
p

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

# P - value is greater than 0.05(Significance level) and as a result we accept the Null Hypothesis